@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-size: 14px; /* era 14px */
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* centraliza verticalmente */
    align-items: center; 
    min-height: 100vh; /* faz ocupar a altura total da tela */
    margin: 0;
}

#container {
    background-color: hsl(0, 0%, 12%);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: 40px auto;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

img {
    clip-path: circle(50%);
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1 {
    font-size: 26px; /* era 30px, mas menor que isso ajuda na proporção */
    margin-top: 10px;
    padding: 10px;
}

.location {
    color: hsl(75, 94%, 57%);
    padding: 10px;
    font-size: 16px;
}

.bio {
    padding: 10px;
    font-size: 16px;
}

.botao {
    background-color: hsl(0, 0%, 20%);
    width: 90%;
    padding: 12px;
    margin: 15px auto;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: bold;
    /* font-size: 16px; novo */
}

.botao:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(197, 139, 85, 0.4); /* caramelo suave */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

/* Quando a tela for muito pequena (tipo celular), aumentar o limite */
@media (max-width: 480px) {
  #container {
    max-width: none;
    width: 100%;
    margin: 20px;
    padding: 20px 10px;
  }
}