@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: Inter, sans-serif;
}

#container {
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 40px auto;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

img {
    clip-path: circle(50%);
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1 {
    font-size: 30px;
    padding: 10px;
}

.location {
    color: hsl(75, 94%, 57%);
    padding: 10px;
}

.bio {
    padding: 10px;
}

.botao {
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: bold;
}

.botao:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(197, 139, 85, 0.4); /* caramelo suave */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #container {
        padding: 15px;
        width: 90%;
    }

    img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 24px;
    }

    .location, .bio {
        font-size: 12px;
    }

    .botao {
        padding: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .location, .bio {
        font-size: 10px;
    }

    .botao {
        font-size: 12px;
    }
}
